body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.comic-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.comic-image {
    flex: 1;
    height: auto;
    margin: 10px;
    object-fit: contain;
    max-width: 100%;
}

.navigation-buttons {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .comic-container {
        flex-direction: column;
    }
    
    .comic-image {
        flex: initial;
    }
}
